    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    <meta charset="utf-8" />
    <meta content='text/html; charset=utf-8' http-equiv='Content-Type'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="Pragya Mishra" />
    <meta name="description" content="Here I take a little space and a bit of your time to share a few personal anecdotes you might relate to or find amusing. I also keep recording summaries or takeaways from a few of the qexcellent books I read." />
    <meta property="og:description" content="Here I take a little space and a bit of your time to share a few personal anecdotes you might relate to or find amusing. I also keep recording summaries or takeaways from a few of the qexcellent books I read." />

    {% if page.title %}
    <meta property="twitter:title" content="{{ page.title }}" />
    {% endif %}